div {
    display: flex;
    flex-direction: column;
    padding: 20;
    background-color: red;
}



nav {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
}

nav.open {
    transform: translateX(0);
}


nav {
    display: flex;
    flex-direction: row;
    background-color: rebeccapurple;

    position: relative;
    width: 100%;
    top: 0;
    right: 100;
    transform: translateX(-110vw);
    transition: 0.5s;
}

/* will only apply and display these things for 
    an object with this type of atribute*/

#menuToggler {
    position: flex;
    top: 0;
    right:0;
    z-index: 1;
    /* more custom styles */
}


nav a {
    background-color: grey;
    /*background of the object*/
    color: gold;
    padding: 60;
    /*size of of object relative to the size of the page higher the number bigger the object*/
    margin: 60;
    /* space/size of the object and the gap inbetween them*/


    /* transition of the object appearing on the screen (depends on which section its
    in this is in the box so therefore the box is what is transitioning)
    also transition speed for other things like the overspeed*/
    transition: background-color 1s;
}
