/*nav {
    display: flex;
  }*/

  /* flex allows for the ability of the object to move according 
  to the width of the page therefore increasing or decreasing in
  size*/
  
  nav {
    display: flex;
    background-color: rebeccapurple;
    /* is this the background of the object or the header?*/
  }

  
  nav a {
    background-color: grey; /*background of the object*/
    color: gold;
    padding: 60; /*size of of object relative to the size of the page higher the number bigger the object*/
    margin: 30; /* space/size of the object and the gap inbetween them*/


    /* transition of the object appearing on the screen (depends on which section its
    in this is in the box so therefore the box is what is transitioning)
    also transition speed for other things like the overspeed*/
  transition: background-color 1s;
  }


  nav a:hover {
    background-color: red; /* changes colour when hovering over it*/
  }

  p {
    display: flex;
    color: gold;
    background-color: blue;
  }

  h1 {
    display: flex;
    color: blue;
    background-color: gold;
  }


  header, main {
    overflow: auto;
  }